@charset "utf-8";

/*
   Author: Johnathon Ventiere
   Date:   08/17/2025
   
   Filename: styles.css

*/
body
{
  background-color: gray;  /* changes the background color to the annotated color */
  font-family: Arial, Helvetica, sans-serif;   
  color: black; /* displays the text in the annotated color */
}
header
{
  text-align: center;   /* centers the header */
  font-size: 1.5em;     
  font-weight: bold;    /* bolds the header */
  padding: 0.25em;
  background-color: antiquewhite;  
  color: black; /* applies color to the text */
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline black;
}
nav ul
{
    list-style-type: none;  /* removes the bullets */
    display: flex;  /* displays the list horizontally */
    padding: 0.25em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-weight: bold;
    gap: 2em;
    justify-content: center;
}
a
{
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: scale(1.02);
}
a:hover /* displays changes to text when links are hovered */
{
  background-color: black; 
  color: antiquewhite;
  transition: all;
}
section#about
{
  padding: 2em;
  margin: 2em;
  border: .25em solid black;
  background-color: antiquewhite;
  color: black;
  text-align: center;
}
section#projects
{
  padding: 2em;
  margin: 2em;
  border: .25em solid black;
  background-color: antiquewhite;
  color: black;
  text-align: center;
}
section#contact
{
  padding: 2em;
  margin: 2em;
  border: .25em solid black;
  background-color: antiquewhite;
  color: black;
  text-align: center;
}
footer
{
  text-align: center;
  background-color: black;
  color: white;
  font-size: .75em;
}
table
{
  width: 100%;
  border-collapse: collapse;
}
table th, td
{
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
table thead
{
  background-color: black;
  color: white;
}
table caption
{
  caption-side: top;
  font-weight: bold;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
}
section:hover
{
  transform: scale(1.02); /* adjusts the scaling wehn section is hovered over */
}
