@charset "utf-8";

/*
   Author: Johnathon Ventiere
   Date:   08/10/2025
   
   Filename: styles.css

*/
body
{
  background-color: white;
  font-family: Arial;
  color: black;
}
header
{
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold;
  padding: 0.5em;
  background-color: white;  
  color: black;
}
footer
{
  text-align: center;
  background-color: white;
  color: black;
}
